@charset "UTF-8";

nav#topnav {
    display:none;
}

footer ul li {

    display:none;
}

#wrapper main {

    width:auto;
    border:0;
    padding:0;
    margin:1in;
}

body {

    color:black;
    background:#ffffff none;
    font-size:12pt;
}

a:link, a:visited {

    color:black;
    text-decoration: underline;
    font-weight:bold;
    background-color: white;
}

article img {
    display:none;
}